<section>
<h1>好友博客</h1>
<ul>
        <li>
        <a href="http://doufunao.github.io/">豆腐脑的幻想乡</a>
        </li>
        <li>
        <a href="http://c4fun.cn/">Code 4 Fun</a>
        </li>
        <li>
        <a href="http://www.tanglei.name/">tanglei的blog</a>
        </li>
        <li>
        <a href="http://www.liaoxuefeng.com/">廖雪峰的官方网站</a>
        </li>
        <li>
        <a href="http://easypi.github.io/">easypi's blog</a>
        </li>
        <li>
        <a href="http://812lcl.github.io/">812lcl的博客</a>
        </li>
        <li>
        <a href="#">这里会是你吗?</a>
        </li>
</ul>
</section>