<section>
	<h1>好友博客</h1>
	<ul>
		<li>
			<a href="http://doufunao.github.io/">豆腐脑的幻想乡</a>
		</li>
		<li>
			<a href="http://c4fun.cn/">Code 4 Fun</a>
		</li>
		<li>
			<a href="http://www.tanglei.name/">TangLei blog</a>
		</li>
		<li>
			<a href="http://ontheroad.sinaapp.com/">Tian Jun-Find My Way</a>
		</li>
		
		<li>
			<a href="http://www.liaoxuefeng.com/">廖雪峰的官方网站</a>
		</li>
		<li>
			<a href="http://beader.me/">Beader</a>
		</li>
		<li>
			<a href="http://blog.csdn.net/v_JULY_v">结构之法，算法之道</a>
		</li>
				<li>
			<a href="http://www.renfei.org/blog/">Renfei Song</a>
		</li>
		<li>
			<a href="http://bluedavy.me">BlueDavy之技术blog</a>
		</li>
		<li>
			<a href="http://blog.jobbole.com/category/python/">伯乐在线-Python</a>
		</li>
		<li>
			<a href="http://www.douban.com/group/python/">豆瓣小组-Python</a>
		</li>
		<li>
			<a href="#">这里会是你吗?</a>
		</li>
	</ul>
</section>